.expense-item {
  background-color: dimgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10px;
}

.expense-item__description {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.expense-item h2 {
  color: aliceblue;
  margin-right: 8%;
}

.expense-item__price {
  border-radius: 12px;
  border: 2px solid white;
  background-color: blueviolet;
  color: white;
  padding: 10px 30px;
  height: 30px;
  position: relative;
  top: 25px;
}

button {
  margin-left: 20px;
}
